@import url("./reset.css");
@import url("./system-tokens.css");

/* Common */
body {
  background: var(--web-wash);
  font-family: var(--font-family-apple);
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
}
* {
  font-family: var(--font-family-apple);
  text-decoration-thickness: auto;
  -webkit-font-smoothing: antialiased;
}
/* svg,
img {
  display: block;
} */
.fill-primary-button-background {
  fill: var(--primary-button-background);
}
.fill-secondary-icon {
  fill: var(--secondary-icon);
}
.plus-icon {
  background-position: 0 -570px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.message-icon {
  background-position: 0 -570px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.notification-icon {
  background-position: 0 -570px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.dropdown-icon {
  background-position: 0 -96px;
  background-image: url("./images/icons2.png");
  background-size: 33px 236px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.search-icon {
  width: 16px;
  height: 16px;
  background-position: 0 -828px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
}
.live-video-icon {
  height: 24px;
  width: 24px;
  background-image: url("./images/icons3.png");
  background-size: 25px 265px;
  display: inline-block;
  background-position: 0 -25px;
}
.photo-video-icon {
  height: 24px;
  width: 24px;
  background-image: url("./images/icons3.png");
  background-size: 25px 265px;
  display: inline-block;
  background-position: 0 -100px;
}
.feeling-activity-icon {
  height: 24px;
  width: 24px;
  background-image: url("./images/icons3.png");
  background-size: 25px 265px;
  display: inline-block;
  background-position: 0 -50px;
}
.create-room-icon {
  height: 24px;
  width: 24px;
  background-image: url("./images/icons3.png");
  background-size: 25px 265px;
  display: inline-block;
  background-position: 0 0;
  margin-right: 8px;
}
@media only screen and (max-width: 1379px) {
  .desktop-only {
    display: none;
  }
}
.mobile-only {
  display: none;
}
@media only screen and (max-width: 600px) {
  .mobile-only {
    display: initial;
  }
}
.card {
  padding: 12px 16px 10px 16px;
  border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
  box-shadow: 0 1px 2px var(--shadow-2);
  background: var(--surface-background);
  margin-bottom: 16px;
}

/* Navigation */
nav {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background: var(--always-white);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
nav .column-left {
  display: flex;
  align-items: center;
}
nav .fb-logo {
  margin-left: 16px;
  height: var(--header-height);
  display: flex;
  align-items: center;
}
nav .search {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-left: 10px;
  background: var(--comment-background);
  width: 240px;
  padding-left: 12px;
}
@media only screen and (max-width: 1379px) {
  nav .search {
    width: 40px;
    height: 40px;
  }
}

nav input {
  all: unset;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin-left: 8px;
}

nav .column-center {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
nav .tab {
  max-width: 129.6px;
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav .column-center .tab .bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid var(--primary-button-background);
}

nav .column-right {
  /* background: chartreuse; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
}
.profile {
  display: flex;
  align-items: center;
  padding-right: 12px;
}
.profile img {
  width: 28px;
  height: 28px;
  border-radius: 1000px;
  border: 1px solid var(--media-inner-border);
  margin-right: 6px;
}
.profile span {
  font-size: 15px;
  font-weight: 600;
}
.action-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: var(--secondary-button-background);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

/* Content */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 32px;
}
.content-grid .column-left {
  background: pink;
}
.content-grid .column-left .fixed-area {
  background: green;
  position: fixed;
  top: var(--header-height);
}
.content-grid .column-center {
  background: pink;
  padding-top: var(--header-height);
}
.content-grid .column-center .card-area {
  background: green;
  width: 680px;
  margin: 0 auto;
  height: 3000px;
}
.content-grid .column-right {
  background: pink;
}
.content-grid .column-right .fixed-area {
  background: green;
  position: fixed;
  top: var(--header-height);
  right: 0;
}

/* Content - column-center */
.new-post-action {
  display: flex;
}
.new-post-action .my-profile {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  border: 1px solid var(--media-inner-border);
  margin-right: 8px;
}
.new-post-action input {
  all: unset;
  width: 100%;
  background: var(--comment-background);
  border-radius: 1000px;
  padding: 8px 12px;
}
.new-post-types {
  margin-top: 12px;
  border-top: solid 1px var(--secondary-button-background);
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 600;
  color: var(--secondary-text);
  padding-top: 8px;
}
.new-post-types .post-type {
  padding: 8px;
  display: flex;
  align-items: center;
}
.new-post-types .post-type i {
  margin-right: 8px;
}

.create-room {
  display: flex;
  overflow-x: scroll;
  position: relative;
  height: 64px;
}
.create-room-button {
  /* all: unset; */
  background: unset;
  outline: unset;
  height: 40px;
  padding: 0 12px;
  border: 2px solid var(--primary-deemphasized-button-background);
  border-radius: 1000px;
  font-size: 15px;
  font-weight: 600;
  color: var(--blue-link);
  display: flex;
  align-items: center;
  margin-right: 16px;
  white-space: nowrap;
}
.create-room-friends {
  display: flex;
}
.create-room-friends img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--media-inner-border);
  border-radius: 1000px;
  margin-right: 16px;
}
.action-button-2 {
  width: 48px;
  /* add flex properties cause parent div is flex that calculate children's size automatically */
  flex-grow: 0;
  flex-shrink: 0;
  height: 48px;
  background: var(--popover-background);
  position: sticky;
  right: 0;
  border-radius: 1000px;
  box-shadow: 0 2px 8px var(--shadow-1), 0 0 0 1px var(--shadow-1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
}
