@import url("./reset.css");
@import url("./color-tokens.css");

/* Common */
body {
  margin: 0;
  background: var(--web-wash);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
}
/* svg,
img {
  display: block;
} */
.fill-primary-button-background {
  fill: var(--primary-button-background);
}
.fill-secondary-icon {
  fill: var(--secondary-icon);
}

/* Navigation */
nav {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  background: var(--always-white);
  display: flex;
  justify-content: space-between;
}
nav .column-left {
  display: flex;
  align-items: center;
}
nav .fb-logo {
  margin-left: 16px;
  height: var(--header-height);
  display: flex;
  align-items: center;
}
nav .search {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-left: 10px;
  background: var(--comment-background);
  width: 240px;
  padding-left: 12px;
}
.search-icon {
  width: 16px;
  height: 16px;
  background-position: 0 -828px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
}
nav input {
  all: unset;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin-left: 8px;
}

nav .column-center {
  display: flex;
  align-items: center;
}
nav .tab {
  width: 129.6px;
  /* 1379px - max-width: 111.6px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav .column-center .tab .bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid var(--primary-button-background);
}

.column-right {
  /* width: 318px; */
  /* background: chartreuse; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
}
.profile {
  display: flex;
  align-items: center;
  padding-right: 12px;
}
.profile img {
  width: 26px;
  height: 26px;
  border-radius: 1000px;
  border: 1px solid var(--secondary-button-background);
  margin-right: 6px;
}
.profile span {
  font-size: 15px;
  font-weight: 600;
}
.action-button {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: var(--secondary-button-background);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
.plus-icon {
  background-position: 0 -570px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.message-icon {
  background-position: 0 -570px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.notification-icon {
  background-position: 0 -570px;
  background-image: url("./images/icons.png");
  background-size: 25px 1070px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.dropdown-icon {
  background-position: 0 -96px;
  background-image: url("./images/icons2.png");
  background-size: 33px 236px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}
